$fuente: 'Vollkorn',
serif;
$black: rgb(0, 0, 0);
$white: #fff;
$gris: rgb(117, 117, 117);
$red: rgb(255, 34, 0);
$blue: rgb(83, 44, 255);
$green1: rgb(0, 255, 42);
$green2: rgb(51, 255, 42);
$dgris: #333;
$grad1: #172a74;
$grad2: #21a9af;
$grad3: rgb(8, 8, 8);
$grad4: rgb(148, 6, 6);
$grad5: #ffffff9c;
$grad6: #f06b6b94;
$disnone: none;
$formModel: (margin-top: 5%,
    display: flex,
    flex-direction: column,
    color: $white,
    align-items: center,
    padding: 10px,
    height: 230px,
    width: 250px,
    resize: none
)